.logo {
  height: 1.5em;
}

.already-paired {
  background-color: orange;
}

.already-paired-notice {
  background-color: orange;
  color: white;
  font-weight: bold;
  text-align: center;
}

h2 > .badge {
  vertical-align: middle;
}

.navbar-text {
  font-size: 24px;
}

.pair-columbus-logo {
  background-color: white;
}
