<template name="searchPersonModal">
  <div class="modal fade" id="searchPersonModal" tabindex="-1" role="dialog" aria-labelledby="searchPersonModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" onsubmit="return false">
          <div class="modal-header">
            <div class="modal-title" id="searchPersonModalLabel">People Search</div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-2">Name</label>
              <div class="col-sm-10">
                <input class="search-text" type="text" name="name">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></a>
          </div>
        </form>
        <div class="search-results">
          {{#each searchResults}}
            {{>searchedPerson}}
          {{/each}}
        </div>

      </div>
    </div>
  </div>
</template>

