.logo {
  height: 1.5em;
}

.already-paired {
  background-color: orange;
}

.already-paired-notice {
  background-color: orange;
  color: white;
  font-weight: bold;
  text-align: center;
}

h2 > .badge {
  vertical-align: middle;
}

.navbar-text {
  font-size: 24px;
}

.pair-columbus-logo {
  background-color: white;
}

.navbar-right {
  font-size: 24px;
  padding-top: 7px;
}

.col-md-4:nth-child(3n+1) {
  clear: left;
}

.modal-header{
  margin: 0 0 20px 0;
}

.edit-experience {
  display: none;
}
