<template name="contributing">
  <h2>Contributing</h2>
  <p>
    To contribute to this project, please visit our <a href="https://github.com/paircolumbus/pairs">GitHub page</a>.
  </p>
  <p>
    To submit a pull request, go to the <a href="https://github.com/paircolumbus/pairs/pulls">Pull Request page</a>,
    then click on the "New pull request" button.
  </p>
  <p>
    To create an issue, go to the <a href="https://github.com/paircolumbus/pairs/issues">Issues page</a>,
    then click on the "New issue" button.
  </p>
  <p>
    To request a new feature
    Create an issue
    According to instructions
  </p>

</template>
