<template name="fullscreen">
<a type="submit" class="pull-right btn btn-primary manage-it" href="/">Manage</a>
<br>
<br>
<br>

  <div class="row">
    {{#each pairs}}
      <div class="col-md-4">
        <div class="panel">
          <div class="row">
            {{#with this.pair.[0]}}
              {{> zoom}}
            {{/with}}
            {{#with this.pair.[1]}}
              {{> zoom}}
            {{/with}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <h2>Unpaired</h2>
  {{#each unpaired}}
    <div class="col-md-2">{{>zoom}}</div>
  {{/each}}
</template>
