<template name="pairs">
  <h2>
    Pairs
    <span class="badge">{{numberOfPairs}}</span>
  </h2>
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary pair-it">Generate pairs</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary remove-it">Clear pairs</button>
    </div>
    <a class="btn btn-primary" href="/people" role="button">View people</a>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary save-it">Save pairs</button>
    <a class="pull-right btn btn-primary full-it" href="/fullscreen">Fullscreen</a>
  </div>

  {{#each pairs}}
    {{>pairCard}}
  {{/each}}

  <h2>
    Unpaired
    <span class="badge">{{numberOfUnpaired}}</span>
  </h2>
  {{#each unpaired}}
    {{>person}}
  {{/each}}
</template>

<template name="pairCard">
  <div class="row">
    {{#each this.pair}}
    <div class="col-md-5" style="{{#if ../alreadyPaired}} background-color: orange; {{/if}}">{{>person}}</div>
    {{/each}}
    {{>removePairButton}}
  </div>
</template>

<template name="removePairButton">
  <div class="col-md-2">
    <br>
    <br>
    <input type="submit" class="btn control-group btn-primary btn-xs pull-left remove-one" value="-">
    {{#if alreadyPaired}}
      <br>
      <br>
      <p style="background-color: orange; color: white; text-align: center"><b>Already Paired!</b></p>
    {{/if}}
  </div>
</template>
