<template name="pairs">
  <h2>Pairs</h2>
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary pair-it">Generate pairs</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary remove-it">Clear pairs</button>
    </div>
  </div>

  <p># of pairs: {{numberOfPairs}}</p>
  <p># of unpaired: {{numberOfUnpaired}}</p>

  {{#each pairs}}
    <div class="row">
      {{#each this.pair}}
        <div class="col-md-6">{{>person}}</div>
      {{/each}}
    </div>
  {{/each}}

  <h2>Unpaired</h2>
  {{#each unpaired}}
    {{>person}}
  {{/each}}
</template>
