<template name="person">
  <div class="panel panel-default">

    <div class="panel-heading">
      <img class="img-rounded" src="{{avatarFor email}}">
      <b>{{name}}</b>
      <input type="submit" class="btn btn-default btn-xs remove-one pull-right" value="-">
    </div>

    <div class="row">
      <div class="col-md-6"></div>
      <div class="pull-right col-md-3">
        <select class="form-control">
            <option value="new pair">new pair</option>
          {{#each unpaired}}
            <option value={{this._id}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>


    <div class="panel-body">
      <strong>Learning</strong>

      <br>

      {{#each learning}}
        <span class="label label-default">{{this}}</span>
      {{/each}}
    </div>

    <div class="panel-body">
      <strong>Teaching</strong>

      <br>

      {{#each teaching}}
        <span class="label label-default">{{this}}</span>
      {{/each}}
    </div>
  </div>
</template>
