<template name="person">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div>{{name}}
        <form class="pull-right form-horizontal remove-one">
          <input type="submit" class="" value="-">
        </form>
      </div>
    </div>

    <select class="form-control">
      {{#each unpaired}}
        <option value={{this._id}}>{{this.name}}</option>
      {{/each}}
    </select>

    <div class="panel-body">
      <strong>Learning</strong>

      <br>

      {{#each learning}}
        <span class="label label-default">{{this}}</span>
      {{/each}}
    </div>

    <div class="panel-body">
      <strong>Teaching</strong>

      <br>

      {{#each teaching}}
        <span class="label label-default">{{this}}</span>
      {{/each}}
    </div>
  </div>
</template>
