<template name="person">
  <div class="panel panel-default">
    <div class="panel-heading">
      <img class="img-rounded" src="{{avatarFor email}}">
      <b>{{name}}</b>
      <form class="form-inline pull-right">
        <select class="form-control">
          <option value="new pair">new pair</option>
          {{#each unpaired}}
            <option value={{this._id}}>{{this.name}}</option>
          {{/each}}
        </select>
        <button class="btn btn-primary btn-xs remove-one">-</button>
      </form>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Learning</th>
          <th>Teaching</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{#each learning}}
            <span class="label label-default">{{this}}</span>
          {{/each}}</td>
          <td>{{#each teaching}}
            <span class="label label-default">{{this}}</span>
          {{/each}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
