<template name="searchedPerson">
  <div class="panel panel-default">
    <div class="panel-heading">
      <img class="img-rounded" src="{{avatarFor email}}">
      <b>{{name}}</b>
      <form class="form-inline pull-right">
        {{#if joined}}
          <button type="button" class="btn btn-primary btn-xs unjoin-one">here</button>
        {{else}}
          <button type="button" class="btn btn-primary btn-xs join-one">away</button>
        {{/if}}
      </form>
    </div>
  </div>
</template>
