<template name="faq">

<h1>Frequently Asked Questions</h1>
<h3>I just joined, where do I get started?</h3>
<h4>To get started make sure you click ADD YOURSELF.<br>
This will allow you to share information your Name, Email, Subject you are interested in learning, and Subjects you are willing to teach.</h4>
<h3>Where do I add my image?</h3>
<h4>The email you supply will fetch the gravatar you use with THAT email address.<br> visit https://en.gravatar.com/ to create/update you gravatar image.</h4>


</template>
