<template name="pairs">
  <h2>
    Pairs
    <span class="badge">{{numberOfPairs}}</span>
  </h2>
  {{#each usersOnline}}
    USER 
  {{/each}}
  {{> atForm}}
  {{#if currentUser}}
    <button class="btn btn-xs logout" >Log Out</button>
    {{username}}

    {{#if isInRole 'admin'}}
      IS ADMIN
    {{else}}
      IS NOT ADMIN
    {{/if}}

    {{#with currentUser}}
      {{> person}}
    {{/with}}
  {{/if}}

  {{#if isInRole 'admin'}}
    <div class="btn-group btn-group-justified" role="group">
      {{>randomPairsButton}}
      {{>savePairsButton}}
      {{>clearPairsButton}}
    </div>
  {{/if}}

  <div class="btn-group btn-group-justified" role="group">
    {{#if isInRole 'admin'}}
      {{>viewPeopleButton}}
      {{>toggleSkillsButton}}
      {{>fullscreenButton}}
    {{else}}
      {{>addYourselfButton}}
      {{>fullscreenButton}}
    {{/if}}
  </div>

  {{#each pairs}}
    {{>pairCard}}
  {{/each}}

  <h2>
    Unpaired
    <span class="badge">{{numberOfUnpaired}}</span>
  </h2>

  <div class="row">
    {{#each unpaired}}
      <div class="col-md-4">
        {{>person}}
      </div>
    {{/each}}
  </div>
</template>
